@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}
body {
    background: #FCD750;
    min-height: 100vh;

}

header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    min-height: 10%;
}

header ul li {
    position: relative;
    list-style: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 10%;
}

header ul li a 
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #222236;
    font-weight: 400;

}

header a img {

}